@import "style.css";

body {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
}

#tabs\.select {
  background-color: #DDD;
  display: flex;
  flex-flow: row wrap;
}

#tabs\.select > * {
  flex: 0 0 auto;
  background-color: #CCC;
  font-size: 1.5em;
  padding: 0.4em 0.8em;
  border-bottom: 0.2em solid #435;
  transition-property: background-color, border-color;
  transition-duration: 0.2s;
}

#tabs\.select > :hover, #tabs\.select > :focus {
  background-color: #CBC;
  border-color: #83A;
}

#tabs\.select > .active {
  background-color: #BBB;
  border-color: #86A;
}

#tabs\.select > .active:hover, #tabs\.select > .active:focus {
  background-color: #BAB;
  border-color: #C6F;
}

#tabs\.content {
  background-color: #EEE;
  overflow: auto;
}

#tabs\.content > :not(.active) {
  display: none !important;
}

p a, #filetable td:nth-child(2) a, .rlink a {
  color: #E70;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}

table thead {
  background-color: #BBB;
}

table tbody {
  background-color: #DDD;
}

table tfoot {
  background-color: #CCC;
}

table tr > * {
  border: 0.2rem solid #222;
  padding: 0.5em;
  display: table-cell;
}

/*tab.home*/

#tab\.home {
  padding: 2em 5em;
}

#tab\.home h1, #tab\.home h2 {
  text-align: center;
}

#tab\.home p {
  text-align: justify;
}

#input\.area {
  background-color: #AFA;
  padding: 1em;
  border: 0.2em solid #7D7;
  border-radius: 1em;
}

#input\.area > * {
  display: block;
  margin-top: 0.5em;
}

#input\.csv {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

#input\.submit {
  margin-left: auto;
  margin-right: auto;
  background-color: #86A;
  padding: 0.4em 0.6em;
  border: 0.2em solid #435;
  border-radius: 0.5em;
  font-size: 1.2em;
  transition-property: background-color, border-color;
  transition-duration: 0.2s;
}

#input\.submit:hover, #input\.submit:focus {
  background-color: #A7C;
  border-color: #647;
}

#filetable {
  margin-top: 1em;
}

#filetable tr > :not(th):first-child {
  font-family: monospace;
  background-color: #FFF;
}

#filetable tr > :last-child {
  text-align: center;
}

#filetable .unavailable {
  background-color: #FAA;
}

#filetable .unavailable::before {
  content: "Unavailable";
  color: #D77;
}

#filetable tr > a:last-child {
  background-color: #86A;
  transition: background-color 0.2s;
  cursor: pointer;
  vertical-align: middle;
}

#filetable tr > a:last-child:hover, #filetable tr > a:last-child:focus {
  background-color: #A7C;
}