:root {
  font-family: Verdana, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  appearance: none;
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  color: currentColor;
  font-weight: normal;
  font-size: 1em;
  cursor: pointer;
}

[hidden] {
  display: none !important;
}