#tab\.chat {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 4fr;
}

#chat\.head, #chat\.members {
  padding: 0.5em;
}

#chat\.head {
  background-color: #BBB;
}

#chat\.head > * {
  display: block;
}

#chat\.members {
  background-color: #CCC;
  font-size: 1.5em;
  padding: 0.5em;
}

#chat\.members > :not(.active), #chat\.messages > :not(.active) {
  display: none !important;
}

#chat\.list {
  background-color: #DDD;
  overflow-y: auto;
}

#chat\.list > * {
  display: block;
  padding: 0.5em;
  overflow: hidden;
  transition: background-color 0.2s;
  cursor: pointer;
}

#chat\.list > :hover, #chat\.list > :focus {
  background-color: #CCC;
  outline: none;
}

#chat\.list > .active {
  background-color: #ECE;
}

#chat\.list > .active:hover, #chat\.list > .active:focus {
  background-color: #CBC;
}

#chat\.messages {
  overflow-y: auto;
}

#chat\.messages > * {
  padding: 1em;
}

#chat\.messages > * > * {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

#chat\.messages > * > .perspective {
  flex-direction: row-reverse;
}

#chat\.messages .block {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1 1 auto;
  overflow-wrap: break-word;
  overflow-wrap: anywhere;
}

#chat\.messages .perspective .block {
  align-items: flex-end;
}

#chat\.messages .block > * {
  flex: 1 0 auto;
  overflow-x: hidden;
}

#chat\.messages .block * {
  margin-top: 0.2rem;
}

#chat\.messages .block .username {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 1rem;
}

#chat\.messages .block time {
  font-size: 0.8em;
  font-style: italic;
}

#chat\.messages .block .body {
  background-color: #FFF;
  padding: 0.5em;
  border-radius: 0.5em;
  white-space: pre-wrap;
}