#tab\.misc {
  padding: 2em 5em;
}

#tab\.misc > :not([hidden]) ~ * {
  margin-top: 1em;
}

#misc\.account th {
  text-align: center;
}

#misc\.account tr > :not(th):first-child {
  text-align: right;
}

#misc\.account tr > :not(th):last-child {
  text-align: left;
}

#misc\.username .deleted {
  text-decoration: line-through;
}