#tab\.subreddits table {
  width: 100%;
}

#tab\.subreddits td:not(:first-child) {
  text-align: center;
}

#tab\.subreddits .o {
  background-color: #AFA;
}

#tab\.subreddits .o::before {
  content: "+";
  color: #7D7;
}

#tab\.subreddits .x {
  background-color: #FAA;
}

#tab\.subreddits .x::before {
  content: "−";
  color: #D77;
}

#tab\.subreddits tr > * {
  transition: background-color 0.1s;
}

#tab\.subreddits tr:hover td:first-child {
  background-color: #CCC;
}

#tab\.subreddits tr:hover .o {
  background-color: #9E9;
}

#tab\.subreddits tr:hover .x {
  background-color: #E99;
}